services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-basic
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/var/www/html
    depends_on:
      - database

  database:
    image: mysql:8.0
    container_name: laravel-database
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: laravel
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
